@model KanaTomo.Models.Translation.JishoData

<div class="row alert alert-success mb-4">
    <div class="col-md-8">
        <ol class="list-group list-group-numbered">
            @if (Model?.Senses != null)
            {
                @foreach (var sense in Model.Senses)
                {
                    @if (sense?.EnglishDefinitions == null || sense?.PartsOfSpeech == null)
                    {
                        continue;
                    }
                    
                    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-success">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold h5">
                                <p>@string.Join(", ", sense.EnglishDefinitions)</p>
                            </div>
                            <p class="fst-italic fs-6">@string.Join(", ", sense.PartsOfSpeech)</p>
                        </div>
                    </li>
                }
            }
        </ol>
    </div>
    <div class="col-md-4">
        <div class="d-flex flex-column align-items-center p-2">
            @if (Model?.Japanese?.FirstOrDefault()?.Reading != null)
            {
                <p class="h6">@Model.Japanese.First().Reading</p>
            }
            <p class="h3">@Model?.Slug</p>
            
            @if(Model?.IsCommon ?? false)
            {
                <span class="badge bg-success mb-2">Common</span>
            }
            
            <!-- Display tags -->
            @if(Model?.Tags != null)
            {
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-primary me-1 mb-2">
                        @if (tag.StartsWith("wanikani", StringComparison.OrdinalIgnoreCase))
                        {
                            @("WaniKani level " + tag.Substring(8))
                        }
                        else
                        {
                            @tag
                        }
                    </span>
                }
            }
            
            @if (Model?.Jlpt != null)
            {
                @foreach(var jlpt in Model.Jlpt)
                {
                    <span class="badge bg-primary mb-2">@jlpt</span>
                }
            }
        </div>
    </div>
</div>